USE [master]
GO
/****** Object:  Database [BDNeuralNetworks]    Script Date: 01.07.2021 21:46:37 ******/
CREATE DATABASE [BDNeuralNetworks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDNeuralNetworks', FILENAME = N'D:\Programms\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDNeuralNetworks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDNeuralNetworks_log', FILENAME = N'D:\Programms\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDNeuralNetworks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDNeuralNetworks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDNeuralNetworks]
GO
/****** Object:  Table [dbo].[DataSet]    Script Date: 01.07.2021 21:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSet](
	[Id_Network] [int] NOT NULL,
	[Id_Picture] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Network]    Script Date: 01.07.2021 21:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Network](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Network] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 01.07.2021 21:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Picture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataSet]  WITH CHECK ADD  CONSTRAINT [FK_DataSet_Network] FOREIGN KEY([Id_Network])
REFERENCES [dbo].[Network] ([Id])
GO
ALTER TABLE [dbo].[DataSet] CHECK CONSTRAINT [FK_DataSet_Network]
GO
ALTER TABLE [dbo].[DataSet]  WITH CHECK ADD  CONSTRAINT [FK_DataSet_Picture] FOREIGN KEY([Id_Picture])
REFERENCES [dbo].[Picture] ([Id])
GO
ALTER TABLE [dbo].[DataSet] CHECK CONSTRAINT [FK_DataSet_Picture]
GO
USE [master]
GO
